@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    10 Downing St,<br />
    Westminster, London<br />
    SW1A 2AA<br />
</address>

<address>
    Email: <a href="mailto:Support@example.com">Support@example.com</a><br />
    Tel: <a href="mailto:Marketing@example.com">0123456789</a>
</address>
